* {
margin: 0px;
padding: 0px;
}

body {
    background-color: rgb(196, 127, 127);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
    color: lightcyan;
}

h2 {
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    color: lightcyan;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 22px;
}

ul {
    margin-top: 20px;
}

.pullquote {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(50, 1, 107);
    margin-bottom: 20px;
    line-height: 30px;
}

.pullquote:hover {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(169, 154, 185);
    margin-bottom: 20px;
    line-height: 30px;
}

